# Python & Virtualenv
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
dist/
build/

# Testing & Cache
.pytest_cache/
.coverage
htmlcov/

# Environment
.env

# OS
.DS_Store

# Temporary outputs
logs/
bin/

